body {
  background-color: #fff8dc;  /* 背景色:cornsilk */
}

h1, .footer.border-top.border-gray-light.mt-5.pt-3.text-right.text-gray {
  display: none;  /* 非表示 */
}

#title {
  color: #000000;  /* 文字色 */
}

#top {
  text-align: right;  /* 文字位置 */
}

#copyright {
  font-size: 15px;    /* フォントサイズ */
  text-align: right;  /* 文字位置 */
}

/* --- cman.jp - https://webparts.cman.jp/img/slideshow/ --- */
/* 画像の表示エリア */
.slide {
  position   : relative;
  overflow   : hidden;
  width      : 200px;
  height     : 200px;
  margin     : auto;
  background : #fff;
}
/* 画像の設定 */
.slide img {
  display    : block;
  position   : absolute;
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 25s ease infinite;
}
/* スライドのアニメーションを段差で開始する */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 5s }
.slide img:nth-of-type(3) { animation-delay: 10s }
.slide img:nth-of-type(4) { animation-delay: 15s }
.slide img:nth-of-type(5) { animation-delay: 20s }
/* スライドのアニメーション */
@keyframes slideAnime{
  0%   { opacity: 0 }
  10%  { opacity: 1 }
  10%  { opacity: 1 }
  20%  { opacity: 0 }
  100% { opacity: 0 }
}
