body {
  background-color: #fff8dc;  /* 背景色:cornsilk */
}

h1, .footer.border-top.border-gray-light.mt-5.pt-3.text-right.text-gray {
  display: none;  /* 非表示 */
}

#title {
  color: #000000;  /* 文字色 */
}

#copyright {
  font-size: 15px;    /* フォントサイズ */
  text-align: right;  /* 文字位置 */
}
